
main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-100);
    margin: 1rem 3rem;
}
.categoryContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.categoryContainer input {
    width: calc(100% - 1rem);
}
.round-data-parent{
    background: var(--primary-100);
    padding: 2% 6%;
    width: 100%;
    gap: 1rem;
}
