@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-100);
}
* ::before, * ::after {
    box-sizing: border-box;
}
:root {
    --primary-100:#FFA07A;
    --primary-200:#de835f;
    --primary-300:#f8ece6;
    --accent-100:#FFC0CB;
    --accent-200:#99616c;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#F5E6CC;
    --bg-200:#ebdcc2;
    --bg-300:#c2b49b;
}
.__login_page section {
    height: 100vh;
}
.logoimg {
    max-width: 6rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

header {
    margin: 20px 20px 0px;
    padding: 2% 6%;
    background: var(--bg-100);
    box-shadow: 0px 10px 10px rgb(0 0 0 /0.3);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}
header:hover {  
    transform: scale(1.01);
    box-shadow: 0px 5px 0px var(--border-blk);
}
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-links li{
    transform: translateY(10px);
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
}
.__except {
    transform: translateY(10px);
    list-style: none;
}
.nav-links li a {
    text-decoration: none;
    color: var(--text-100);
}
.nav-links li a::after {
    content: '';
    background: var(--primary-100);
    display: block;
    margin: auto;
    height: 2px;
    width: 0%;
    transition: 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}
.offcanvas {
    box-shadow: 0px 0px 10px rgb(0 0 0 /0.3);
}
.offcanvas-header {
    background: var(--primary-100);
}
.tgl-button {
    display: none;
}
@media only screen and (max-width: 768px) {
    .tgl-button {
        display: flex;
    }
    header nav ul {
        display: none;
    }
}
