@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-100);
}
* ::before, * ::after {
    box-sizing: border-box;
}
:root {
    --primary-100:#FFA07A;
    --primary-200:#de835f;
    --primary-300:#f8ece6;
    --accent-100:#FFC0CB;
    --accent-200:#99616c;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#F5E6CC;
    --bg-200:#ebdcc2;
    --bg-300:#c2b49b;
}
.__login_page section {
    height: 100vh;
}
.logoimg {
    max-height: 5rem;
    /* max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1; */
    border-radius: 10px;
}
.nav-links li{
    list-style: none;
    margin: 0 0 1rem;
}
.__except {
    transform: translateY(10px);
    list-style: none;
}
.nav-links li a {
    white-space: nowrap;

    text-decoration: none;
    color: var(--text-100);
}
.nav-links li a::after {
    content: '';
    background: var(--primary-100);
    display: block;
    margin: auto;
    height: 2px;
    width: 0%;
    transition: 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}
.offcanvas {
    box-shadow: 0px 0px 10px rgb(0 0 0 /0.3);
}
.offcanvas-header {
    background: var(--bg-300);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.tgl-button {
    display: none;
}
@media only screen and (max-width: 768px) {
    .tgl-button {
        display: flex;
    }
    header nav ul {
        display: none;
    }
}
.canvas-btn {
    padding: 5px 20px;
    background: var(--bg-200);
    outline: none;
    border: 1px solid var(--text-200);
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgb(0 0 0 /0.3);
}
.offcanvas-header img {
    width: calc(50% - 2rem);
    height: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.offcanvas-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    font-size: 10px;
}



.off-canvas-footer {
    display: flex;
    justify-content: center;
}

.off-canvas-footer img {
    width: 40%;
    padding: 1rem 0;
}
.close-canvas {
    position: absolute;
    top: 5%;
    right: 2%;
}
.navigation {
    translate: -15px;
}
.offcanvas-body {
    background: none;
    background: var(--bg-200);
    box-shadow: 0px 5px 10px rgb(0 0 0 /0.3);
}
.nav-links .active, 
.nav-links .exception 
 {
    padding: 2px 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 10px rgb(0 0 0 /0.3);
    transition: 0.3s;
}

.nav-links .active:hover {
    box-shadow: 5px 5px 1px rgb(0 0 0 /0.3);
}
.nav-links .exception:hover {
    box-shadow: 5px 5px 1px rgba(255, 0, 0, 0.512);
}

.active i {
    translate: 0 1px;
}

.exception i {
    color: rgba(255, 0, 0, 0.512);
}
.active i {
    color: var(--primary-100);
}