
:root {
    --border-blk: rgb(0 0 0 / 0.3);
    --label: 13px;
    --shadow-standard: 0px 0px 10px var(--border-blk);
    --primary-100: #26a69a;
    --primary-200: #408d86;
    --primary-300: #cdfaf6;
    --accent-100: #80cbc4;
    --accent-200: #43a49b;
    --text-100: #263339;
    --text-200: #728f9e;
    --bg-100: #e0f2f1;
    --bg-200: #d0ebea;
    --bg-300: #ffffff;
    --blncd-spacing: 2% 6%;
}
.criteria__ {
    background: #80cbc4;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--blncd-spacing);
}
.section-one {
    position: relative;
    background: var(--bg-100);
    width: calc(100% - 2rem);
    height: 100%;
    padding: 2% 6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow-standard);
}
.criteriaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.criForm {
    background: var(--bg-300);
    padding: 2% 6%;
    border-radius: 10px;
    box-shadow: var(--shadow-standard);
}
.backbtn {
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 20px;
}
.backbtn a {
    color: #fff;
}
.standard-btn {
    padding: 5px 20px;
    border-radius: 5px;
    background: var(--accent-200);
    color: var(--text-100);
    border: none;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s ease;
}
.standard-btn:hover {
    filter: brightness(110%);
}
.catName-sec,
.catVal-sec {
    white-space: nowrap;
    width: 100%;
    padding: 2% 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.select-sec {
    text-align: center;
}
.select-sec select {
    /* outline: 1px solid var(--accent-100); */
    padding: 1% 2%;
    background: none;
    border: 2px solid var(--primary-100);
    border-radius: 5px;
}
.select-sec option {
    background: var(--primary-300);
    box-shadow: 5px 5px 8px rgb(0 0 0/0.3);
}
.cstm-box {
    position: relative;
}
.cstm-box input {
    z-index: 10;
    width: 100%;
    padding: 2% 4%;
    border: 2px solid var(--primary-100);
    border-radius: 5px;
    background: none;
    outline: none;
}
.cstm-box label {
    position: absolute;
    background: var(--bg-300);
    padding: 5px 10px 0px;
    pointer-events: none;
    transition: 0.6s;
}
.cstm-box input:valid ~ label,
.cstm-box input:focus ~ label {
    z-index: 11;
    transform: translateY(-25px);
}
.catVal-sec input::-webkit-inner-spin-button,
.catVal-sec input::-webkit-outer-spin-button {
    display: none;
}
.second-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2% 6%;
}

.all_tables {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    cursor: pointer;
    box-shadow: var(--shadow-standard);
}

.all_tables th,
.all_tables td {
    padding: 12px 15px;
    text-align: center;
    font-size: var(--label);
}

.all_tables thead {
    background: var(--bg-100);
}
.all_tables thead td {
    border: 2px solid var(--primary-200);
    font-weight: 700;
}
.all_tables th {
    font-weight: bold;
    color: #333;
}

.all_tables tbody tr:nth-child(2n) {
    background: var(--accent-200);
}
.all_tables tbody tr {
    transition: 0.3s;
}
.all_tables tbody tr:hover {
    filter: brightness(110%);
}